.read
{
    width: 90%;
    backdrop-filter:"revert";
    background-color:  rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius:15px;
    margin-left: 70px;
    margin-right: 300px;
    margin-top: 40px;
    height: 480px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: auto;
    text-align: left;
     
}
